:root {
    --bgColor: #FFF8E1;
    --primaryColor: rgb(244, 0, 84);
}

body {
    background-color: var(--bgColor);
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#playContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    position: relative
}

#playArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#welcomeText {
    font-weight: bold;
    font-size: 3rem;
    color: var(--primaryColor);
    text-align: center;
}

#welcomeText span {
    display: block;
    font-size: 1.2rem;
}

#playButton {
    width: 250px;
    height: 250px;
    cursor: pointer;
    margin-top: 50px;
}

#lastGames {
    bottom: 75px;
    background: #FFFFFF;
    box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    width: 400px;
}

#lastGames .lastGamesTitle {
    text-align: center;
    padding: 10px 5px;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 1px solid #f1f1f1;
    background: var(--primaryColor);
    color: #ffffff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
}

#lastGames .game {
    padding: 10px;
}

#lastGames .game span.gameNumber {
    background: rgba(244, 244, 244, 1);
    padding: 5px 10px;
    border-radius: 3px;
}

#lastGames .game:nth-child(odd) {
    background: rgba(244, 244, 244, 0.4);
}

#loginArea {

}

.githubLogin {
    padding: 15px;
    background: var(--primaryColor);
    font-weight: bold;
    border-radius: 4px;
    color: #FFFFFF;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#letters {
    align-self: center;
    justify-content: space-between;

}

#letters .letter {
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    background: var(--primaryColor);
    color: #ffffff;
    font-weight: bold;
    display: inline-flex;
    cursor: pointer;
}

#theWord {
    align-self: center;
}

#theWord .letterByWord {
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    font-size: 22px;
    width: 64px;
    height: 64px;
    background: var(--primaryColor);
    color: #ffffff;
    font-weight: bold;
    display: inline-flex;
}

#gameArea {
    display: flex;
    flex: 0.5;
    justify-content: space-between;
    flex-direction: row;
}

#tips {
    max-height: 300px;
    min-width: 300px;
    padding: 10px;
    background: var(--primaryColor);
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

#gameMenu {
    min-width: 300px;
    max-height: 300px;
    padding: 10px;
    background: var(--primaryColor);
}